* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;

  color: white;
  background: #2c3e50;
}

.loader {
  text-align: center;
}

.loader img {
  max-height: 0;
  margin: 0;

  -webkit-transition: 1s all ease;
     -moz-transition: 1s all ease;
      -ms-transition: 1s all ease;
       -o-transition: 1s all ease;
          transition: 1s all ease;
}

.loader.active img {
  max-height: 50px;
  margin: 10px auto 20px;
}

.notification-button-container {
  max-width: 600px;
  margin: 20px auto 0px;
  padding: 0 20px;
}

.notification-button {
  height: 0px;
  overflow: hidden;

  border-radius: 3px;
  color: white;
  background: rgba(241, 196, 15,.9);
  box-shadow: 0 2px 0 #d3ac10;

  cursor: pointer;
}

.notification-button.active {
  height: 30px;

  -webkit-transition: height 300ms ease;
     -moz-transition: height 300ms ease;
      -ms-transition: height 300ms ease;
       -o-transition: height 300ms ease;
          transition: height 300ms ease;
}

.notification-button p {
  text-align: center;
  line-height: 4px;
  font-size: 13px;
  font-weight: bold;
}

.notification-button:active {
	position: relative;
	top: 2px;
  box-shadow: none;
}

.tweets {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.tweet {
  position: relative;

  display: block;
  overflow: hidden;

  max-height: 0px;
  margin: 0;

  list-style-type: none;

  color: #2c3e50;
  border-radius: 3px;
  background: white;
  box-shadow: 0 3px 0 #eee;
}

.tweet.active {
  max-height: 125px;
  margin: 20px 0;

  -webkit-transition: 500ms all ease;
     -moz-transition: 500ms all ease;
      -ms-transition: 500ms all ease;
       -o-transition: 500ms all ease;
          transition: 500ms all ease;
}

.tweet .avatar {
  position: relative;

  display: inline-block;
  float: left;

  width: 48px;
  margin: 10px;

  border: 2px solid #ccc;
  border-radius: 48px;
}

.tweet blockquote {
  font-size: 14px;

  display: inline-block;
  float: right;

  width: calc(100% - 72px);
  margin: 0;
  padding: 10px;
}

.tweet blockquote cite {
  font-weight: bold;
  font-style: normal;
}

.tweet blockquote cite a {
  display: inline-block;

  margin-right: 5px;

  text-decoration: none;

  color: #1abc9c;
}

.tweet blockquote cite a:hover {
  text-decoration: underline;
}

.tweet blockquote .screen-name,
.tweet blockquote .date,
.tweet blockquote .dot {
  font-size: 13px;
  font-weight: normal;

  color: #ccc;
}

.tweet blockquote .dot {
  margin: 0px 3px;
}

.tweet blockquote .content {
  display: block;
  clear: left;

  margin-top: 5px;
}

.tweet:before,
.tweet:after {
  display: table;

  content: ' ';
}

.tweet:after {
  clear: both;
}